In [1]:
%matplotlib inline
from matplotlib import style
style.use('fivethirtyeight')
import matplotlib.pyplot as plt

In [2]:
import numpy as np
import pandas as pd

In [3]:
import datetime as dt

# Reflect Tables into SQLAlchemy ORM

In [4]:
# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func, inspect

In [5]:
engine = create_engine("sqlite:///Resources/hawaii.sqlite")

In [6]:
# Reflecting an existing database into a new model
Base = automap_base()

# Reflecting tables
Base.prepare(engine, reflect=True)

In [7]:
# Viewing all of the classes that automap found
Base.classes.keys()

['measurement', 'station']

In [8]:
# Saving references to each table
Measurement = Base.classes.measurement
Station = Base.classes.station

In [9]:
# Creating our session (link) from Python to the DB
session = Session(engine)

In [10]:
# Creating inspector and getting table names 
inspector = inspect(engine)

In [11]:
# Getting "measurement" table column names and types
measurement_columns = inspector.get_columns("measurement")
for column in measurement_columns:
    print(column["name"], column["type"])

id INTEGER
station TEXT
date TEXT
prcp FLOAT
tobs FLOAT

In [12]:
# Getting "station" table column names and types
station_columns = inspector.get_columns("station")
for column in station_columns:
    print(column["name"], column["type"])

id INTEGER
station TEXT
name TEXT
latitude FLOAT
longitude FLOAT
elevation FLOAT

# Exploratory Climate Analysis

##### Designing a query to retrieve the last 12 months of precipitation data and plot the results

In [13]:
# Calculating the date 1 year ago from the last data point in the database

# --- Calculating last date in the DB
last_date = session.query(Measurement.date).order_by(Measurement.date.desc()).first()[0]
# --- Transforming query to a time object
last_date_converted = (dt.datetime.strptime(last_date, "%Y-%m-%d")).date()
# --- Calculating last date in the DB - 1 year ago
year_ago = last_date_converted - dt.timedelta(days = 365)

In [14]:
# Performing a query to retrieve the date and precipitation scores
prcp = session.query(Station.name, Measurement.date, Measurement.prcp).\
    filter(Measurement.date >= year_ago).\
    filter(Measurement.date <= last_date).all()

In [18]:
# Saving the query results as a Pandas DataFrame and set the index to the date column
prcp_df = pd.DataFrame(prcp, columns = ["Station Name", "Date", "Precipitation"])
prcp_df.set_index("Date", inplace = True)

# Droping null values 
prcp_df.dropna(axis = 0, how = "any", inplace = True)

# Sorting the dataframe by date
prcp_df.sort_values("Date")

# Printing final df 
prcp_df.head()

                                      Station Name  Precipitation
Date
2016-08-23                    WAIKIKI 717.2, HI US            0.0
2016-08-23                    KANEOHE 838.1, HI US            0.0
2016-08-23  KUALOA RANCH HEADQUARTERS 886.9, HI US            0.0
2016-08-23                       PEARL CITY, HI US            0.0
2016-08-23              UPPER WAHIAWA 874.3, HI US            0.0

In [ ]:
# Use Pandas Plotting with Matplotlib to plot the data

In [ ]:
# Choosing a starting and ending date for our trip 

starting_date = dt.date()
ending_date = dt.date

In [ ]:
# Use Pandas to calcualte the summary statistics for the precipitation data

In [ ]:
# Design a query to show how many stations are available in this dataset?

In [ ]:
# What are the most active stations? (i.e. what stations have the most rows)?
# List the stations and the counts in descending order.

In [ ]:
# Using the station id from the previous query, calculate the lowest temperature recorded, 
# highest temperature recorded, and average temperature of the most active station?

In [ ]:
# Choose the station with the highest number of temperature observations.
# Query the last 12 months of temperature observation data for this station and plot the results as a histogram

## Bonus Challenge Assignment

In [ ]:
# This function called `calc_temps` will accept start date and end date in the format '%Y-%m-%d' 
# and return the minimum, average, and maximum temperatures for that range of dates
def calc_temps(start_date, end_date):
    """TMIN, TAVG, and TMAX for a list of dates.
    
    Args:
        start_date (string): A date string in the format %Y-%m-%d
        end_date (string): A date string in the format %Y-%m-%d
        
    Returns:
        TMIN, TAVE, and TMAX
    """
    
    return session.query(func.min(Measurement.tobs), func.avg(Measurement.tobs), func.max(Measurement.tobs)).\
        filter(Measurement.date >= start_date).filter(Measurement.date <= end_date).all()

# function usage example
print(calc_temps('2012-02-28', '2012-03-05'))

In [ ]:
# Use your previous function `calc_temps` to calculate the tmin, tavg, and tmax 
# for your trip using the previous year's data for those same dates.

In [ ]:
# Plot the results from your previous query as a bar chart. 
# Use "Trip Avg Temp" as your Title
# Use the average temperature for the y value
# Use the peak-to-peak (tmax-tmin) value as the y error bar (yerr)

In [ ]:
# Calculate the total amount of rainfall per weather station for your trip dates using the previous year's matching dates.
# Sort this in descending order by precipitation amount and list the station, name, latitude, longitude, and elevation

In [ ]:
# Create a query that will calculate the daily normals 
# (i.e. the averages for tmin, tmax, and tavg for all historic data matching a specific month and day)

def daily_normals(date):
    """Daily Normals.
    
    Args:
        date (str): A date string in the format '%m-%d'
        
    Returns:
        A list of tuples containing the daily normals, tmin, tavg, and tmax
    
    """
    
    sel = [func.min(Measurement.tobs), func.avg(Measurement.tobs), func.max(Measurement.tobs)]
    return session.query(*sel).filter(func.strftime("%m-%d", Measurement.date) == date).all()
    
daily_normals("01-01")

In [ ]:
# calculate the daily normals for your trip
# push each tuple of calculations into a list called `normals`

# Set the start and end date of the trip

# Use the start and end date to create a range of dates

# Stip off the year and save a list of %m-%d strings

# Loop through the list of %m-%d strings and calculate the normals for each date

In [ ]:
# Load the previous query results into a Pandas DataFrame and add the `trip_dates` range as the `date` index

In [ ]:
# Plot the daily normals as an area plot with `stacked=False`